{% extends 'root/app.html' %}

{% block title %}Privestornet{% endblock %}

{% block app %}
    <h1 class="font-bold text-[24px] mb-8">Administrator Settings</h1>
    <div class="flex flex-col gap-y-[10px] flex-wrap">
        <div class="users-display flex flex-col p-1 h-fit bg-[color:var(--theme-color-light)] rounded-[20px] shadow-sm max-w-full">
            <h1 class="font-bold text-[18px] m-2">Users</h1>
            {% for user in users.users %}
                <div class="flex justify-between m-1 max-w-full">
                    <span class="py-1 px-2 max-w-[80%] hover:bg-[color:var(--theme-color-hover-highlight)] text-ellipsis rounded-2xl duration-300 overflow-x-hidden whitespace-nowrap">
                        <span class="mr-2 align-middle">
                            <img class="inline-block w-auto h-5 img-user align-middle">
                        </span>
                        <span class="filename align-middle w-[90%]" filename="{{ user.username }}">{{ user.username }}</span>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block popup_content %}
{% endblock %}

{% block app_extra %}
    <style>
        .popup {
            display: none;
        }
    </style>
{% endblock %}