{% extends 'root/app.html' %}

{% block title %}Privestornet{% endblock %}

{% block app %}
    <h1 class="font-bold text-[24px] mb-8">My Account</h1>
    <div class="flex flex-col gap-y-[10px] flex-wrap">
        <div class="p-4 h-fit bg-[color:var(--theme-color-light)] rounded-2xl shadow-sm">
            <h2 class="text-[20px] max-xl:text-[18px] max-lg:text-[16px] max-sm:text-[16px] font-bold mb-4">My Information</h2>
            <div class="flex gap-x-[18px]">
                <img class="block w-auto h-32 max-sm:h-20 img-user">
                <div>
                    <h2 class="text-[22px] max-xl:text-[20px] max-lg:text-[16px] max-sm:text-[16px] font-medium">{{ user.user.username }}</h2>
                    <h3 class="text-[16px] max-xl:text-[14px] max-lg:text-[12px] max-sm:text-[12px] font-medium">{{ "Administrator" if user.user.is_administrator else "User" }}</h3>
                </div>
            </div>
        </div>
        <div class="p-4 h-fit bg-[color:var(--theme-color-light)] rounded-2xl shadow-sm">
            <h2 class="text-[20px] max-xl:text-[18px] max-lg:text-[16px] max-sm:text-[16px] font-bold mb-4">Change Username</h2>
            <div class="flex gap-x-[18px] max-sm:flex-col">
                <div class="items-center">
                    <h2 class="my-2 font-medium">Current Username: <span class="text-[color:var(--theme-color-highlight)]">{{ user.user.username }}</span></h2>
                </div>
                <div>
                    <button class="change-username-btn items-center p-2 w-[120px] max-sm:w-full rounded-full outline-none shadow-sm bg-[color:var(--theme-color-solid)] duration-300 hover:bg-[color:var(--theme-color-hover-highlight)]">Change</button>
                </div>
            </div>
        </div>
        <div class="p-4 h-fit bg-[color:var(--theme-color-light)] rounded-2xl shadow-sm">
            <h2 class="text-[20px] max-xl:text-[18px] max-lg:text-[16px] max-sm:text-[16px] font-bold mb-4">Change Password</h2>
            <div class="flex gap-x-[18px] max-sm:flex-col">
                <div class="flex items-center">
                    <h2 class="my-2 font-medium">Current Password: <span class="pw-display text-[color:var(--theme-color-highlight)]"></span></h2>
                    <button class="pw-display-btn ml-4 p-2 rounded-full duration-200 hover:bg-[color:var(--theme-color-hover-highlight)]">
                        <img class="w-auto h-4 img-hide">
                    </button>
                </div>
                <div>
                    <button class="change-password-btn items-center p-2 w-[120px] max-sm:w-full rounded-full outline-none shadow-sm bg-[color:var(--theme-color-solid)] duration-300 hover:bg-[color:var(--theme-color-hover-highlight)]">Change</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup_content %}
    <form class="change-info-form flex flex-col" method="post">
        <input class="info-entry block shadow-sm bg-[color:var(--theme-color-dark)] p-2 m-2 text-center rounded-full focus:border-4 focus:border-[color:var(--theme-color-hover-highlight)] duration-200 outline-none" type="text">
        <input class="confirm-info-entry shadow-sm block bg-[color:var(--theme-color-dark)] p-2 m-2 text-center rounded-full focus:border-4 focus:border-[color:var(--theme-color-hover-highlight)] duration-200 outline-none" type="text">
        <input class="change-info-btn shadow-sm block p-2 m-2 text-center rounded-full outline-none bg-[color:var(--theme-color-solid)] duration-300 hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer" type="submit" value="Change">
    </form>
{% endblock %}

{% block app_extra %}
    <style>
        .popup {
            width: 50%;
            height: 30%;
        }

        @media screen and (max-width: 1024px){
            .popup {
                width: 70vw;
                height: 75vh;
            }
        }

        @media screen and (max-width: 640px){
            .popup {
                width: 95vw;
                height: 75vh;
            }
        }

        input::placeholder {
            color: var(--theme-color-placeholder);
        }
    </style>

    <script>
        let pw_show = false;
        const pw_display = document.querySelector(".pw-display");
        const pw_display_btn_img = document.querySelector(".pw-display-btn > img");
        pw_display.innerHTML = "*".repeat("{{ user.user.password }}".length);

        const pw_display_btn = document.querySelector(".pw-display-btn");
        pw_display_btn.addEventListener('click', () => {
            if (pw_show) {
                pw_display.innerHTML = "*".repeat("{{ user.user.password }}".length);
                pw_display_btn_img.classList.add('img-hide')
                pw_display_btn_img.classList.remove('img-view')
                pw_show = false;
            } else {
                pw_display.innerHTML = "{{ user.user.password }}";
                pw_display_btn_img.classList.add('img-view')
                pw_display_btn_img.classList.remove('img-hide')
                pw_show = true;
            }
        });

        const change_info_box = document.querySelector(".popup");
        change_info_box.style.display = "none";

        document.querySelector('.change-username-btn').addEventListener('click', () => {
            document.querySelector('.popup-title-box').innerText = "Change Username";
            document.querySelector('.change-info-form').action = './change-username?page={{ page }}';
            document.querySelector('.info-entry').placeholder = 'New Username';
            document.querySelector('.info-entry').type = 'text';
            document.querySelector('.info-entry').name = 'username';
            document.querySelector('.confirm-info-entry').placeholder = 'Confirm New Username';
            document.querySelector('.confirm-info-entry').type = 'text';
            document.querySelector('.confirm-info-entry').name = 'confirm-username';
            change_info_box.style.display = "block";
        });

        document.querySelector('.change-password-btn').addEventListener('click', () => {
            document.querySelector('.popup-title-box').innerText = "Change Password";
            document.querySelector('.change-info-form').action = './change-password?page={{ page }}';
            document.querySelector('.info-entry').placeholder = 'New Password';
            document.querySelector('.info-entry').type = 'password';
            document.querySelector('.info-entry').name = 'password';
            document.querySelector('.confirm-info-entry').placeholder = 'Confirm New Password';
            document.querySelector('.confirm-info-entry').type = 'password';
            document.querySelector('.confirm-info-entry').name = 'confirm-password';
            change_info_box.style.display = "block";
        })
    </script>
{% endblock %}