{% extends 'root/app.html' %}

{% block title %}Privestornet{% endblock %}

{% block app %}
    <a class="redirect hidden"></a>
    <form class="upload-data-form hidden" action="./upload?dst=public&type=file&path={{ '/'.join(path) }}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload-data" multiple>
        <input type="submit">
    </form>
    <h1 class="font-bold text-[24px] mb-8">Public</h1>
    <div class="flex flex-col gap-y-[10px] flex-wrap">
        <div class="paths-container flex gap-x-[10px] items-center p-2 bg-[color:var(--theme-color-light)] rounded-[20px] max-w-full shadow-sm">
            {% if path|length >= 1 and path[0] %}
                <h2>
                    <a href="./login?page={{ page }}&path={{ '/'.join(path[:-1]) }}" class="p-1 rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300">
                        <img class="inline-block w-auto h-4 img-left-arrow">
                    </a>
                </h2>
            {% endif %}

            <h2 class="paths font-semibold whitespace-nowrap">
                <span>
                    <a class="align-middle p-1 px-2 rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300" href="./login?page={{ page }}">Public</a>
                    <img class="inline-block w-auto h-4 align-middle img-right-arrow">
                </span>

                <span>
                    <button class="all-paths px-1 align-middle rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300">...</button>
                </span>

                {% for idx, p in path_iter %}
                    {% if p %}
                        <span class="path">
                            <a class="align-middle p-1 px-2 rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300" href="./login?page={{ page }}&path={{ '/'.join(path[:idx+1]) }}">{{ p }}</a>
                            <span class="align-middle">
                                <img class="inline-block w-auto h-4 align-middle img-slash">
                            </span>
                        </span>
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <div class="files-display flex flex-col p-1 h-fit bg-[color:var(--theme-color-light)] rounded-[20px] shadow-sm max-w-full">
            {% for dt in data.to_dict()['content'].values() %}
                <div class="flex justify-between m-1 max-w-full">
                    <a class="py-1 px-2 max-w-[80%] hover:bg-[color:var(--theme-color-hover-highlight)] text-ellipsis rounded-2xl duration-300 overflow-x-hidden whitespace-nowrap" href="./login?page={{ page }}&path={{ dt['path'] }}">
                        <span class="mr-2 align-middle">
                            {% if dt['pathtype'] == 'folder' %}
                                <img class="inline-block w-auto h-5 img-folder align-middle">
                            {% elif '.jpg' in dt['name'] or '.png' in dt['name'] %}
                                <img class="inline-block w-5 h-5 object-cover align-middle" src="./ficon?user={{ dt['username'] }}&target=public&path={{ dt['path'] }}">
                            {% else %}
                                <img class="inline-block w-auto h-5 img-file align-middle">
                            {% endif %}
                        </span>
                        <span class="filename align-middle w-[90%]" filename="{{ dt['name'] }}">{{ dt['name'] }}</span>
                    </a>
                    <button onclick="show_fileinfo_menu(this)" filename="{{ dt['name'] }}" filetype="{{ dt['pathtype'] }}" filepath="{{ dt['path'] }}" class="show-fileinfo-menu-btn rounded-2xl p-1 px-2 mx-1 duration-300 hover:bg-[color:var(--theme-color-hover-highlight)]">
                        <img class="inline-block w-auto h-4 img-more">
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block popup_content %}
    <div class="flex flex-col justify-center gap-y-[10px] m-4">
        <a class="align-middle py-1 px-4 rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300" href="./login?page={{ page }}">Public</a>
        {% for idx, p in path_iter %}
            {% if p %}
                <a class="align-middle py-1 px-4 rounded-2xl hover:bg-[color:var(--theme-color-hover-highlight)] duration-300" href="./login?page={{ page }}&path={{ '/'.join(path[:idx+1]) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block app_extra %}
    <div class="flex flex-col items-end bottom-6 right-6 gap-y-[20px] fixed">
        <div class="upload-options flex flex-col bg-[color:var(--theme-color-medium)] p-1 gap-y-[5px] rounded-[20px] shadow-sm backdrop-blur-sm">
            <button class="upload-file-btn hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer py-2 px-4 rounded-[20px] duration-300">
                <img class="w-auto h-4 inline-block img-upload-file">
                <span class="ml-2">Upload Files</span>
            </button>
            <button class="upload-folder-btn hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer py-2 px-4 rounded-[20px] duration-300">
                <img class="w-auto h-4 inline-block img-upload-folder">
                <span class="ml-2">Upload Folders</span>
            </button>
        </div>
        <div class="upload-btn bg-[color:var(--theme-color-medium)] p-2 rounded-full hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer w-fit shadow-sm duration-300">
            <img class="w-5 h-5 img-add">
        </div>
    </div>

    <div class="absolute invisible p-1 file-info-menu rounded-tl-[20px] rounded-bl-[20px] backdrop-blur-sm duration-300 flex flex-col gap-y-[10px] bg-[color:var(--theme-color-medium)] shadow-sm">
        <button class="view p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-300">
            <img class="w-auto h-5 inline-block img-view align-middle">
            <span class="ml-2 align-middle">View</span>
        </button>
        <button class="download p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-300">
            <img class="w-auto h-5 inline-block img-download align-middle">
            <span class="ml-2 align-middle">Download</span>
        </button>
        <button class="delete p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-300">
            <img class="w-auto h-5 inline-block img-delete align-middle">
            <span class="ml-2 align-middle">Delete</span>
        </button>
        <button class="rename p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-300">
            <img class="w-auto h-5 inline-block img-rename align-middle">
            <span class="ml-2 align-middle">Rename</span>
        </button>
        <button class="move p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-300">
            <img class="w-auto h-5 inline-block img-move align-middle">
            <span class="ml-2 align-middle">Move</span>
        </button>
    </div>

    <div class="absolute invisible p-1 file-rename rounded-tl-[20px] rounded-bl-[20px] backdrop-blur-sm flex flex-col gap-y-[10px] bg-[color:var(--theme-color-medium)] shadow-sm">
        <h3 class="p-2 text-[18px] font-semibold">Rename</h3>
        <form class="flex gap-x-[6px] max-sm:w-[200px]" method="post">
            <input type="text" class="p-1 px-2 max-sm:w-[120px] bg-[color:var(--theme-color-medium)] outline-none focus:border-4 focus:border-[color:var(--theme-color-hover-highlight)] rounded-full duration-200" placeholder="New Name" name="new-name">
            <input type="submit" class="p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer rounded-full duration-200" value="Change">
        </form>
    </div>

    <div class="absolute hidden bottom-6 right-20 p-2 file-move rounded-[20px] backdrop-blur-sm flex-col gap-y-[10px] bg-[color:var(--theme-color-medium)] shadow-sm animate-[expand_0.3s]">
        <h3 class="p-2 text-[18px] font-semibold">Move To</h3>
        <h5 class="move-target"></h5>
        <h5 class="move-dst"></h5>
        <div class="flex gap-x-[6px]">
            <button class="move-change p-1 px-2 grow hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-200">Change</button>
            <button class="move-cancel p-1 px-2 grow hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-200">Cancel</button>
        </div>
    </div>

    <div class="absolute hidden bottom-6 right-20 p-2 file-receive rounded-[20px] backdrop-blur-sm flex-col gap-y-[10px] bg-[color:var(--theme-color-medium)] shadow-sm animate-[expand_0.3s]">
        <h3 class="p-2 text-[18px] font-semibold">Accept</h3>
        <h5 class="receive-target"></h5>
        <h5 class="receive-dst"></h5>
        <div class="flex gap-x-[6px]">
            <button class="receive-change p-1 px-2 grow hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-200">Accept</button>
            <button class="receive-cancel p-1 px-2 grow hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-200">Cancel</button>
        </div>
    </div>

    <div class="absolute hidden bottom-6 right-20 p-2 file-share rounded-[20px] backdrop-blur-sm flex-col gap-y-[10px] bg-[color:var(--theme-color-medium)] shadow-sm animate-[expand_0.3s]">
        <h3 class="p-2 text-[18px] font-semibold">Share To</h3>
        <h5 class="share-target"></h5>
        <form class="flex gap-y-[10px] max-sm:w-[200px] flex-col" method="post">
            <input type="text" class="share-to p-1 px-2 max-sm:w-[120px] bg-[color:var(--theme-color-medium)] outline-none focus:border-4 focus:border-[color:var(--theme-color-hover-highlight)] rounded-full duration-200" placeholder="Share to" name="share-to">
            <div class="flex gap-x-[6px]">
                <input type="submit" class="share-request flex-1 p-1 px-2 hover:bg-[color:var(--theme-color-hover-highlight)] hover:cursor-pointer rounded-full duration-200" value="Share">
                <button form="" class="share-cancel flex-1 p-1 px-2 grow hover:bg-[color:var(--theme-color-hover-highlight)] rounded-full duration-200">Cancel</button>
            </div>
        </form>
    </div>

    <style>
        .popup {
            width: 30%;
            max-height: 100vh;
            overflow-y: auto;
        }

        @media screen and (max-width: 1024px){
            .popup {
                width: 50vw;
                max-height: 100vh;
                overflow-y: auto;
            }
        }

        @media screen and (max-width: 640px){
            .popup {
                width: 95vw;
                max-height: 100vh;
                overflow-y: auto;
            }
        }

        @keyframes expand {
            from {
                opacity: 0;
                transform: scaleY(0);
                visibility: hidden;
            }
            to {
                opacity: 1;
                transform: scaleY(1);
                visibility: visible;
            }
        }

        @keyframes shrink {
            from {
                opacity: 1;
                transform: scaleY(1);
                visibility: visible;
            }
            to {
                opacity: 0;
                transform: scaleY(0);
                visibility: hidden;
            }
        }
    </style>

    <script>
        const redirect = (url) => {
            const redirect_url = document.querySelector('.redirect');
            redirect_url.href = url;
            redirect_url.click()
        }

        // Limit the path display length
        let paths_container_width_change = 0;

        const check_paths_display = () => {
            const paths_container_width = document.querySelector('.paths-container').offsetWidth;
            let paths_width = 290;
            let is_enough_space = true;
            const path = document.querySelectorAll('.path');

            if (Math.abs(paths_container_width - paths_container_width_change) < 30) {
                return;
            } else {
                paths_container_width_change = paths_container_width;
            }

            document.querySelector('.all-paths').style.display = 'none';

            Array.from(path).reverse().forEach((p) => {
                console.log((paths_width + p.offsetWidth) < paths_container_width)
                console.log(paths_width, p.offsetWidth, paths_container_width)
                if ((paths_width + p.offsetWidth) < paths_container_width && is_enough_space) {
                    p.style.display = 'inline-block';
                    paths_width += p.offsetWidth;
                } else {
                    p.style.display = 'none';
                    document.querySelector('.all-paths').style.display = 'inline-block';
                    is_enough_space = false;
                }
            })
        }

        // Location box display event
        check_paths_display();
        window.addEventListener('resize', check_paths_display);

        document.querySelector('.popup-title-box').innerText = "Location";

        const location_box = document.querySelector(".popup");
        location_box.style.display = "none";

        document.querySelector('.all-paths').addEventListener('click', () => {
            location_box.style.display = "block";
        })

        // Upload options event
        document.querySelector('.upload-options').style.display = 'none';

        document.querySelector('.upload-btn').addEventListener('click',  () => {
            if (document.querySelector('.upload-options').style.display === 'none') {
                document.querySelector('.upload-options').style.animation = 'expand 0.5s';
                document.querySelector('.upload-options').style.display = 'flex';
            } else {
                document.querySelector('.upload-options').style.animation = 'shrink 0.5s';
                setTimeout(() => {
                    document.querySelector('.upload-options').style.display = 'none';
                }, 400)
            }
        })

        // Click background unfocus event
        document.addEventListener('click', (event) => {
            if (!(document.querySelector('.upload-btn').contains(event.target))) {
                document.querySelector('.upload-options').style.animation = 'shrink 0.5s';
                setTimeout(() => {
                    document.querySelector('.upload-options').style.display = 'none';
                }, 400)
            }

            let is_fileinfo_menu_btns_clicked = Array()
            document.querySelectorAll('.show-fileinfo-menu-btn').forEach((e) => {
                is_fileinfo_menu_btns_clicked.push(e.contains(event.target));
            })

            if (!is_fileinfo_menu_btns_clicked.some((e) => { return e; })) {
                document.querySelector('.file-info-menu').style.animation = 'shrink 0.5s forwards';
            }

            let is_file_rename_elements_clicked = Array()
            document.querySelectorAll('.file-rename input').forEach((e) => {
                is_file_rename_elements_clicked.push(e.contains(event.target));
            })

            if (!(is_file_rename_elements_clicked.some((e) => { return e; }) || document.querySelector('.file-rename').contains(event.target) || document.querySelector('.file-info-menu button.rename').contains(event.target))) {
                document.querySelector('.file-rename').style.animation = 'shrink 0.5s forwards';
            }
        });

        // Upload data event
        document.querySelector('.upload-file-btn').addEventListener('click', () => {
            document.querySelector('.upload-data-form').action = "./upload?dst=public&type=file&path={{ '/'.join(path) }}";
            document.querySelector('.upload-data-form input[name="upload-data"').accept = "*";
            document.querySelector('.upload-data-form input[name="upload-data"]').click();
        })

        document.querySelector('.upload-folder-btn').addEventListener('click', () => {
            document.querySelector('.upload-data-form').action = "./upload?dst=public&type=folder&path={{ '/'.join(path) }}";
            document.querySelector('.upload-data-form input[name="upload-data"').accept = ".zip";
            document.querySelector('.upload-data-form input[name="upload-data"]').click();
        })

        document.querySelector('.upload-data-form input[name="upload-data"]').addEventListener('change', () => {
            document.querySelector('.upload-data-form input[type="submit"]').click();
        })

        // Show the file info menu
        document.querySelector('.file-info-menu').style.visibility = 'hidden';
        document.querySelector('.file-rename').style.visibility = 'hidden';
        const show_fileinfo_menu = (e) => {
            let rect = e.getBoundingClientRect();

            document.querySelector('.file-info-menu').style.right = String(document.body.offsetWidth - rect.right + 40) + 'px';

            if (rect.top + 15 + document.querySelector('.file-info-menu').offsetHeight > document.body.offsetHeight) {
                document.querySelector('.file-info-menu').style.borderBottomRightRadius = '0px';
                document.querySelector('.file-info-menu').style.borderTopRightRadius = '20px';
                document.querySelector('.file-info-menu').style.top = String(parseInt(rect.bottom - document.querySelector('.file-info-menu').scrollHeight) - 13) + 'px';
            } else {
                document.querySelector('.file-info-menu').style.borderBottomRightRadius = '20px';
                document.querySelector('.file-info-menu').style.borderTopRightRadius = '0px';
                document.querySelector('.file-info-menu').style.top = String(parseInt(rect.top) + 15) + 'px';
            }

            document.querySelector('.file-info-menu').style.animation = 'expand 0.5s forwards';
            document.querySelector('.file-info-menu').style.visibility = 'visible';

            document.querySelector('.file-info-menu button.view').onclick = () => {
                redirect('./login?page=public&path=' + e.getAttribute('filepath'));
            };

            document.querySelector('.file-info-menu button.download').onclick = () => {
                redirect('./login?page=public&path=' + e.getAttribute('filepath') + '&download=1');
            };

            document.querySelector('.file-info-menu button.delete').onclick = () => {
                redirect('./delete?target=public&path=' + e.getAttribute('filepath'));
            };

            document.querySelector('.file-info-menu button.move').onclick = () => {
                // Add move parameter
                redirect('./login?page=public&path={{ "/".join(path) }}' + '&move=' + e.getAttribute('filepath'));
            }

            document.querySelector('.file-info-menu button.rename').onclick = () => {
                document.querySelector('.file-rename').style.right = String(document.body.offsetWidth - rect.right + 40) + 'px';

                if (rect.top + 15 + document.querySelector('.file-rename').offsetHeight > document.body.offsetHeight) {
                    document.querySelector('.file-rename').style.borderBottomRightRadius = '0px';
                    document.querySelector('.file-rename').style.borderTopRightRadius = '20px';
                    document.querySelector('.file-rename').style.top = String(parseInt(rect.bottom - document.querySelector('.file-rename').scrollHeight) - 13) + 'px';
                } else {
                    document.querySelector('.file-rename').style.borderBottomRightRadius = '20px';
                    document.querySelector('.file-rename').style.borderTopRightRadius = '0px';
                    document.querySelector('.file-rename').style.top = String(parseInt(rect.top) + 15) + 'px';
                }

                document.querySelector('.file-rename').style.visibility = 'visible';
                document.querySelector('.file-rename').style.animation = 'expand 0.2s forwards';
                document.querySelector('.file-rename input[type="text"]').value = e.getAttribute('filename');
                document.querySelector('.file-rename input').style.transitionDuration = '0.2s';
                document.querySelector('.file-rename > form').action = `./rename?target=public&path=${e.getAttribute('filepath')}`;
            }

            document.querySelector('.file-info-menu button.share').onclick = () => {
                let currenturlparams = new URLSearchParams(window.location.search)
                currenturlparams.set('share', '1');
                currenturlparams.set('target', e.getAttribute('filepath'));
                redirect(`./login?${currenturlparams.toString()}`);
            }
        }

        // Get url parameters
        let url_params = new URLSearchParams(window.location.search);
        const move = url_params.get('move');
        const receive = url_params.get('receive');
        const share = url_params.get('share');
        const target = url_params.get('target');

        // Set file move
        document.querySelector('.file-move').style.display = 'none';
        if (move) {
            document.querySelector('.file-move').style.display = 'flex';
            document.querySelector('.file-move > .move-target').innerHTML = 'Target: public:/' + move;
            document.querySelector('.file-move > .move-dst').innerHTML = 'Destination: public:/{{ "/".join(path) }}';

            if ('{{ "/".join(path) }}'.includes(move)) {
                document.querySelector('.file-move > .move-target').style.color = 'red';
                document.querySelector('.file-move > .move-dst').style.color = 'red';
                document.querySelector('.file-move > div > .move-change').disabled = true;
                document.querySelector('.file-move > div > .move-change').style.color = 'var(--theme-color-content)';
                document.querySelector('.file-move > div > .move-change').classList.remove('hover:bg-[color:var(--theme-color-hover-highlight)]');
            } else {
                document.querySelector('.file-move > div > .move-change').onclick = () => {
                    document.querySelector('.file-move').style.animation = 'shrink 0.3s forwards';
                    setTimeout(() => {
                        document.querySelector('.file-move').style.display = 'none';
                        redirect(`./move?target=public&path=${move}&dst={{ "/".join(path) }}`);
                    }, 100)
                }
            }

            document.querySelector('.file-move > div > .move-cancel').onclick = () => {
                document.querySelector('.file-move').style.animation = 'shrink 0.3s forwards';
                setTimeout(() => {
                    document.querySelector('.file-move').style.display = 'none';
                    redirect('./login?page=public&path={{ "/".join(path) }}&move=null');
                }, 100)
            }
        }

        // Set file receive
        document.querySelector('.file-receive').style.display = 'none';
        if (receive) {
            document.querySelector('.file-receive').style.display = 'flex';
            document.querySelector('.file-receive > .receive-target').innerHTML = 'Target: ' + receive;
            document.querySelector('.file-receive > .receive-dst').innerHTML = 'Destination: public:/{{ "/".join(path) }}';


            document.querySelector('.file-receive > div > .receive-change').onclick = () => {
                document.querySelector('.file-receive').style.animation = 'shrink 0.3s forwards';
                setTimeout(() => {
                    document.querySelector('.file-receive').style.display = 'none';
                    redirect(`./accept?data=${receive}&path={{ "/".join(path) }}`);
                }, 100)
            }

            document.querySelector('.file-receive > div > .receive-cancel').onclick = () => {
                document.querySelector('.file-receive').style.animation = 'shrink 0.3s forwards';
                setTimeout(() => {
                    document.querySelector('.file-receive').style.display = 'none';
                    redirect('./login?page=public&path={{ "/".join(path) }}&receive=null');
                }, 100)
            }
        }

        // Set file share
        if (share) {
            document.querySelector('.file-share').style.display = 'flex';
            document.querySelector('.file-share > form').action = `./share?&path=${target}`;
            document.querySelector('.file-share > .share-target').innerHTML = `Target: ${target}`;
        }

        document.querySelector('.file-share form .share-cancel').onclick = () => {
            document.querySelector('.file-share').style.animation = 'shrink 0.3s forwards';
            setTimeout(() => {
                document.querySelector('.file-share').style.display = 'none';
                redirect('./login?page=public&path={{ "/".join(path) }}');
            }, 100)
        }
    </script>
{% endblock %}